* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation {
  position: fixed;
  width: 1250px;
  height: 120px;
  background-color: #635959;
  display: flex;
  justify-content: space-between;
}

#image {
  width: 230px;
  height: 100px;
  background-color: #635959;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image img {
  width: 150px;
  cursor: pointer;
}

#nav-items {
  width: 900px;
  height: 120px;
  background-color: #635959;
  display: flex;
  justify-content: space-between;
}

#nav-all {
  width: 680px;
  height: 120px;
  background-color: #635959;
  display: flex;
  justify-content: space-around;
}

#nav-all .pages-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 60px;
}

#nav-all ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
}

#nav-other {
  width: 180px;
  height: 120px;
  background-color: #635959;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#nav-other .search {
  padding-bottom: 20px;
}

#prof .cart-text {
  padding-bottom: 20px;
}

#nav-other .search {
  font-size: 22px;
}

#nav-other .cart i {
  font-size: 16px;
}

#nav-other .cart-text {
  margin-left: 15px;
  letter-spacing: 2px;
}

#nav-other span {
  font-size: 14px;
  cursor: pointer;
}

/* dropdown */
#nav-all .nav {
  position: relative;
}

#nav-all .nav .drp {
  height: auto;
  background-color: rgb(38, 37, 37);
  display: none;
  position: absolute;
  padding-bottom: 30px;
}

#nav-all .nav .drp a {
  margin: 0px 20px 0px 20px;
}

#nav-all .nav:hover .drp {
  display: block;
  transition: 2s;
}

#nav-all .nav .drp li {
  list-style-type: none;
  margin-top: 10px;
}

#nav-all .nav .drp li a {
  text-decoration: none;
  font-size: 11px;
}

/* SIZE-DROP */
.home-drp {
  width: 220px;
  top: 69px;
  left: -30px;
}

.pages-drp {
  width: 180px;
  top: 69px;
  left: -30px;
}

.portfolio-drp {
  width: 218px;
  top: 69px;
  left: -30px;
}

.blog-drp {
  width: 180px;
  top: 69px;
  left: -30px;
}

.shop-size {
  width: 1300px;
  height: 600px;
  top: 69px;
  right: -280px;
}

.element-drp {
  width: 220px;
  top: 69px;
  left: -50px;
}

/* SHOP DROP */
#disp-shop {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

#disp-shop h3 {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
  color: white;
}

#disp-shop ul li {
  margin-top: 20px;
}

/* ICON */
.drp .drp-icon i {
  margin-left: 20px;
}

/* Portfolio DropDWN */
.drp .port-drp {
  position: relative;
}

.drp .drp-pLayout {
  width: 210px;
  height: 200px;
  background-color: rgb(38, 37, 37);
  position: absolute;
  left: 218px;
  top: -10px;
  display: none;
  padding: 5px 5px 20px 5px;
}

.drp .drp-pLayout ul li {
  margin-bottom: 15px;
}

.drp .port-drp:hover .drp-pLayout {
  display: block;
}

/* BLOG POST DRP */
.drp .post-drp {
  position: relative;
}

.drp .drp-post {
  width: 200px;
  height: 220px;
  background-color: rgb(38, 37, 37);
  position: absolute;
  left: 160px;
  top: -10px;
  display: none;
  padding: 5px 5px 20px 5px;
}

.drp .drp-post ul li {
  margin-bottom: 15px;
}

.drp .post-drp:hover .drp-post {
  display: block;
}

/* Element DRP */
.nav .element-icon span {
  margin-left: 20px;
}

.drp .drp-class {
  width: 200px;
  height: auto;
  background-color: rgb(38, 37, 37);
  position: absolute;
  right: 210px;
  top: -10px;
  display: none;
  padding: 5px 5px 10px 5px;
}

.drp .drp-class ul li {
  margin-bottom: 10px;
}

.drp .eClass-drp:hover .drp-class {
  display: block;
}

/* NAV OTHER */
#nav-other #src {
  position: relative;
}

#nav-other #src .drp-src {
  width: 280px;
  height: 50px;
  background-color: rgb(38, 37, 37);
  position: absolute;
  top: 72px;
  right: 5px;
  display: none;
}

#nav-other #src div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 50px;
}

#nav-other #src:hover .drp-src {
  display: block;
}

#src .drp-src input {
  width: 250px;
  height: 40px;
  border: 0;
  background-color: rgb(38, 37, 37);
  color: white;
  padding: 5px;
}

#src .drp-src i {
  position: absolute;
  right: 25px;
  top: 14px;
  font-size: 22px;
  opacity: 0.5;
}

#src .drp-src i:hover {
  opacity: 1;
}

/* CART */
#prof {
  position: relative;
}

#nav-other .drp-cart {
  width: 280px;
  height: 80px;
  font-size: 18px;
  background-color: rgb(38, 37, 37);
  color: white;
  position: absolute;
  top: 69px;
  left: -180px;
  display: none;
}

#nav-other .drp-cart .cart-p {
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: start;
  cursor: text;
}

#nav-other .drp-cart .cart-p p {
  margin-top: 20px;
}

#prof:hover .drp-cart {
  display: block;
}

#coffe {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: end;
  background-image: url("https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/blog-1-img-20.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#coffe .container {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#coffe .container p {
  width: 500px;
  color: white;
  font-size: 16px;
}
#coffe .container h1 {
  font-size: 60px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
#coffe button {
  width: 200px;
  height: 60px;
  cursor: pointer;
}
#coffe button:hover {
  background-color: bisque;
  border: none;
}

#lorem {
  width: 100%;
  height: 700px;
  align-items: center;
  justify-content: space-evenly;
}
#lorem img {
  margin: 20px;
}
#lorem h1 {
  margin: 20px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
#lorem span {
  margin: 20px;
  font-size: 20px;
}
#lorem .container {
  width: 100%;
  height: 1000px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#lorem .container p {
  width: 250px;
  font-weight: 300;
}
#lorem .container h2 {
  width: 200px;
  font-size: 17px;
  margin: 5px 20px;
  font-family: "Times New Roman", Times, serif;
}
#lorem .container h2:hover {
  color: burlywood;
}

.four {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

#hera {
  width: 100%;
  height: 1200px;
  align-items: center;
  justify-content: space-evenly;
}
#hera .container {
  width: 1005;
  height: 800px;
  align-items: center;
  justify-content: center;
}
#hera .container .three img {
  width: 100px;
  height: 100px;
  flex-direction: column;
}
#hera .container p {
  width: 400px;
}

#con {
  width: 100%;
  height: 700px;
}
#con .container {
  background-size: cover;
  background-image: url("https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/blog-1-img-19.jpg");
  height: 400px;
  width: 100%;
}

#btn {
  width: 200px;
  height: 60px;
  cursor: pointer;
  border: none;
  color: black;
}
#btn:hover {
  background-color: bisque;
  border: none;
}